
h1{
    font-family: Verdana, sans-serif;
    color: limegreen;
}

h3.graph-label{
    font-family: Verdana, sans-serif;
    margin: 0px;
}

.topnav {
    background-color: forestgreen;
    height: 40px;
    vertical-align: center;
}

.topnav li{
    display: inline;
    line-height: 40px;
    padding: 10px;

}

.active {
    background-color: #73AD21;
}

label {
    color: white;
}

li:hover {
    background-color: #73AD21;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

#table-label{
    color: white;
    padding-left: 10px;
}

table {
    font-family: Verdana, sans-serif;
    border: 1px solid black;
    font-size: 20px;
    background-color: mintcream;
}

td{
    border: 1px solid black;
    padding: 2px;
    background-color: mintcream;
    width: 80px;
}

canvas.bar{
    padding-top: 0;
}

canvas.line{
    padding: 0px;
    width: 600px;
}

.choice-container{
    float: right;
    width: 350px;
    border: 3px solid #73AD21;
    font-family: Verdana, sans-serif;
}

.chart-container{
    float: left;
    width: 620px;

}

div.graph-container{
    display:none;
    background-color: darkseagreen;
    padding-top: 4px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 4px;
    border-style: solid;
    border-color: darkgreen;
    width: 600px;
    margin: 0px;
}

div.pie-container{
    display:none;
    background-color: darkseagreen;
    padding-top: 4px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 4px;
    border-style: solid;
    border-color: darkgreen;
    width: 600px;
}

html{
    background-color: black;
    font-family: Verdana, sans-serif;
}

table {
    background-color: lime;
}

th{
    background-color: dimgray;
    padding: 7px 10px 10px 10px;
    color: limegreen;
}

td{
    background-color: silver;
}