h1{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

h3.graph-label{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

table {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border: 1px solid black;
    font-size: 20px;
    background-color: mintcream;
}

td{
    border: 1px solid black;
    padding: 2px;
    background-color: mintcream;
    width=80px;
}

canvas.bar{
    padding-top: 0;
}

canvas.line{
    padding: 0px;
    width: 600px;
}

div.graph-container{
    background-color: mintcream;
    padding-top: 4px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 4px;
    border-style: solid;
    border-color: bisque;
    width: 600px;
}

html{
    background-color: beige;
}